<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logo.png">
    <title>Quick Pic</title>
</head>
<body>
    <h2>Descargando.....</h2>
    <a href="/app/quickpic.apk" id="element" download="quickpic"></a>
    {{footer}}
    <script> 
        let element = document.getElementById('element');
        element.click();
    </script>
</body>
</html>