<footer class=" text-center p-2" style="background: rgb(3,153,252);
background: linear-gradient(90deg, rgba(3,153,252,1) 0%, rgba(6,140,228,1) 100%);">
    <p class="h3" style="color: #fff;">Quick Pic © 2021</p>
    <a href="https://www.instagram.com/baez_osm4r.js/"><i class="fab fa-instagram" style="color: #fff;"></i></a>

</footer>