<div id="carouselExampleSlidesOnly"  class="carousel slide" data-bs-interval="2000" data-bs-touch="true" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="img/img1slider.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/img2slider.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/img3slider.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
